/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
.box{
	display:flex;
}
.navigation{
	padding:1em;
	background-color:#D7E8D4;
	width:16.66vw;
	flex:1;
}
.header , .footer{
	background-color:yellowgreen;
	
	padding:1em;
}
.content{
	width:80vw;
	display:flex;
}
.article{
	flex:3;
	min-height:60vh;
	background-color:#ffffff;
	padding:1em;
}
.aside{
	flex:1;
	min-height:60vh;
	background-color:#f5f5dc;
	padding:1em;
}